@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&family=Roboto:wght@300;400&display=swap');

:root {
  /* ------------------------------- Theme Color ------------------------------ */
  --main-pink: #ffdde1;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;
}

* {
  font-family: 'Roboto', 'Bai Jamjuree', sans-serif;
}

/* --------------------------------- Global Class --------------------------------- */
.alink {
  color: unset;
  text-decoration: none;
}
.alink:hover {
  color: unset;
}

.text-shadow {
  text-shadow: 1px 1px black;
}

/* ----------------------------------- xx ----------------------------------- */

/* ----------------------------- Navigation Bar ----------------------------- */
nav {
  background-color: #ffdde1;
  font-size: 18px;
}

nav .dropdown-menu {
  background-color: #ffdde1;
}

.navbar-collapse {
  flex-grow: unset;
}

ul.navbar-nav li a {
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

ul.navbar-nav li a:hover {
  border-bottom: 2px solid black;
}

.nav-link.active {
  border-bottom: 2px solid black;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

/* ----------------------------------- x x ---------------------------------- */

/* ---------------------------------- header --------------------------------- */

.background-image {
  position: relative;
  min-height: 900px;
}

.background-image::before {
  filter: brightness(0.5);
  content: '';
  background-image: url('/assets/img/background/intro-background.jpg');
  background-image: -webkit-image-set(url('/assets/img/background/intro-background.webp') 1x);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.intro {
  position: relative;
  text-align: center;
  color: #cacaca;
  padding-top: 200px;
  transition: 2s;
  animation: fadeIntro 1000ms;
}

@keyframes fadeIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-custom {
  font-size: 25px;
  background-color: #ffdde1;
  color: #1b1b1b;
  width: 150px;
}

.btn-custom:hover {
  background-color: #c4a9ac;
}

/* ----------------------------------- xx ----------------------------------- */

/* ---------------------------------- intro --------------------------------- */

.intro-main {
  position: relative;
}

.intro-box {
  margin-top: -150px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 15px 0 rgb(0 0 0 / 20%);
  padding: 40px;
  transition: 0.5s;
}

.intro-box:hover {
  background-color: #ffdde1;
  transform: translateY(-10px);
}

.intro-box h3 {
  margin: 30px 0;
}

.intro-img {
  border-radius: 50%;
  width: 150px;
}

.intro-show {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}

.intro-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.intro-media img {
  width: 50%;
}

.intro-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.intro-card {
  margin: 0 130px;
}

/* -------------------------------- x intro x ------------------------------- */

/* --------------------------------- footer --------------------------------- */
.footer {
  background-color: #ffdde1;
  padding: 50px 0;
}

.footer-brand {
  flex: 0.5;
  justify-content: center;
}
.footer-brand img {
  width: 80px;
  border-radius: 50%;
}
.footer-brand h4 {
  display: inline;
  margin-left: 25px;
}
.footer-brand p {
  margin-top: 25px;
}

.footer-detail {
  display: flex;
  flex-wrap: wrap;
}

.footer-sitemap {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right ul {
  display: flex;
}
.footer-right ul li {
  padding: 0 5px;
}

.social-media ul {
  display: flex;
  list-style-type: none;
}

.social-media ul li {
  padding: 0 10px;
  font-size: 30px;
}

/* ----------------------------------- x x ---------------------------------- */

@media only screen and (max-width: 450px) {
  .footer-brand {
    flex: 1;
  }

  .footer-end {
    flex-direction: column;
    text-align: center;
  }

  .intro-box {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .intro-box {
    padding: 10px;
  }

  .intro-show {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .intro-card {
    margin: 0;
  }
}
